.card {
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 10%);
  padding: 1rem;
  width: 100%;
  height: auto;
  background: #fff;
  a {
    color: black;
  }
  .description {
    margin-top: 1rem;
  } 
  &:hover {
    cursor: pointer;
  }
}
